*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(74, 36, 127);
  padding: 1.5rem 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #323232;
}

ul {
  list-style: none;
}

.icon-set-card {
  background-color: white;
  padding: 6rem 2.5rem;
  border-radius: 1rem;
  width: 93%;
  max-width: 52rem;
}

.icon-set-plans {
  border: 1.2px solid rgba(0, 0, 0, 0.2);
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  border-radius: 1rem;
}

.btn-plan {
  padding: 2rem 3.25rem;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 1.8rem;
  border: 0;
  cursor: pointer;
  text-transform: capitalize;
  background-color: transparent;
  color: #504d4d;
  letter-spacing: 1.13px;
}

.btn-plan:hover {
  background-color: #efecec;
}

.btn-active {
  background-color: rgb(62, 199, 62);
  color: white;
}

.btn-active:hover {
  background-color: rgb(114, 177, 114);
}
