*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(74, 36, 127);
  padding: 1.5rem 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #323232;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;

  transition: background-color 0.25s ease;
}

.icon-set-card {
  background-color: white;
  padding: 6.5rem 3.2rem;
  border-radius: 1rem;
  width: 93%;
  max-width: 52rem;
}

.icon-set-plans {
  border: 1.2px solid rgba(0, 0, 0, 0.2);
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  border-radius: 1rem;
}

.btn-plan {
  padding: 2rem 3.25rem;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 1.8rem;
  border: 0;
  text-transform: capitalize;
  background-color: transparent;
  color: #504d4d;
  letter-spacing: 1.13px;
}

.btn-plan:hover {
  background-color: #efecec;
}

.btn-active {
  background-color: rgb(62, 199, 62);
  color: white;
}

.btn-active:hover {
  background-color: rgb(114, 177, 114);
}

.icon-set-price-text {
  margin-bottom: 3rem;
}

.icon-set-plan-title {
  font-size: 1.6rem;
  color: #afacac;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.icon-set-price-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-set-title,
.icon-set-price {
  font-size: 2.75rem;
  font-weight: bold;
}

.icon-set-text {
  font-size: 1.85rem;
  line-height: 1.5;
  width: 90%;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}

.icon-set-icons-num {
  color: rgb(174, 59, 174);
  font-weight: bold;
}

.icon-set-list {
  margin-bottom: 3rem;
}

.icon-set-list li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.65rem;
  letter-spacing: 0.5px;
}

.icon-set-list li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.icon-set-icon {
  background-color: #e5e1e1;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.25rem;
}

.fa-check {
  color: green;
}
.fa-xmark {
  color: firebrick;
}

.btn-cart {
  padding: 1.8rem 3.2rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 4rem;
  border: 0;
  background-color: rgb(174, 59, 174);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.btn-cart:hover {
  background-color: rgb(208, 74, 208);
}
